body{
    background-color: black;
    margin: 0;
}
h1{
    color: white;
    font-family: sans-serif;
    font-weight:lighter;
    margin: 10px;
    text-align: center;
}
span{
    color: #ff4d5a;
}
.hero{
    background-color: black;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.button{
    text-decoration: none;
    margin: 10px;
    padding: 10px 30px;
    color: #ff4d5a;
    border: 2px solid #ff4d5a;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: black;
    opacity: 0.7;
}
.button:hover{
    opacity: 1;
}
.header{
    background-color: #282828f2;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: end;
    height: 4rem;
    align-items: center;
}
li{
    list-style: none;
}
.nav-button{
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px 10px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-family: sans-serif;
    opacity: 0.5;
}
.nav-button:hover{
    opacity: 1;
    color: #ff4d5a;
    border: 2px solid #ff4d5a;
}

.profile-picture{
    border-radius: 50%;
    width: 200px;
    object-fit: cover;
    margin-top: 50px;
}

.about{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.lancaster-university{
    width: 100%;
    max-width: 944px;
}

.subtitle{
    margin-top: 50px;
}

.languages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.languages > img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px;
    padding: 10px;

}

hr {
    border: 1px dotted white;
    margin: 50px;
}

.projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    max-width: 600px;
}
.card > h1{
    color: #ff4d5a;
    text-decoration: underline;
}
.card > img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}
.card > p{
    color: white;
    text-align: center;
}

.footer{
    background-color: #ff4d5a;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.links > a{
    display: flex;
    align-items: center;
    margin: 10px 50px;
}
.links > a > img{
    height: 50px;
    object-fit: cover;
}

.footer-name{
    color: white;
    opacity: 0.5;
    margin: 10px;
}